$white: #fff;
$black: #000;

body {
    color: $white;
    text-transform: uppercase;
    font-family: 'Helvetica';
	background-color: $black;
}

.logo {
	height: 200px;
    background: url(../images/webpack.png) no-repeat;
	background-position: center;
	background-size: contain;
}